################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dockertest/.vs/dockertest/v15
/dockertest/dockertest.api/bin/Debug/netcoreapp2.1
/dockertest/dockertest.api/obj/Debug/netcoreapp2.1
/dockertest/dockertest.tests/bin/Debug/netcoreapp2.1
/dockertest/dockertest.tests/obj/Debug/netcoreapp2.1
/dockertest/.vs/dockertest/DesignTimeBuild
/dockertest/dockertest.api/obj/Release/netcoreapp2.1
/dockertest/dockertest.api/bin/Release/netcoreapp2.1
/dockertest/dockertest.tests/bin/Release/netcoreapp2.1
/dockertest/dockertest.tests/obj/Release/netcoreapp2.1
/dockertest/.vs/config
/dockertest/obj
/dockertest/dockertest.api/obj
/dockertest/dockertest.tests/obj
/dockertest/.idea/.idea.dockertest
/dockertest/dockertest.awslambda/bin/Debug/netcoreapp2.1
/dockertest/dockertest.awslambda/obj
/dockertest/dockertest.awslambda.Tests/bin/Debug/netcoreapp2.1
/dockertest/dockertest.awslambda.Tests/obj
/dockertest/dockertest.awsserverless/bin/Debug/netcoreapp2.1
/dockertest/dockertest.awsserverless/obj
