################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dockertest/.vs/dockertest/v15
/dockertest/dockertest.api/bin/Debug/netcoreapp2.1
/dockertest/dockertest.api/obj/Debug/netcoreapp2.1
/dockertest/dockertest.tests/bin/Debug/netcoreapp2.1
/dockertest/dockertest.tests/obj/Debug/netcoreapp2.1
/dockertest/.vs/dockertest/DesignTimeBuild
